.contenedor {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";

    height: 100vh;
    margin: 0;
}

.contenedor-formulario {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "formulario formulario"
        "footer footer";

    height: 100vh;
    margin: 0;
}

.contenedor-inicio {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
}

/* --- HEADER - ENCABEZADO --- */

.encabezado {
    grid-area: header;
    background-color: var(--secundaty-color-hover);
    padding: 1rem;
}

.encabezado__logo {
    height: 9rem;
}


/* --- ASIDE - LATERAL --- */

.lateral {
    grid-area: aside;
    background-color: var(--secundary-color);
    padding: 1rem;

    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.lateral__nombre {
    font-size: 3rem;
    font-weight: bolder;
}

.lateral__info {
    font-size: 1.5rem;
}


/* --- MAIN - PRINCIPAL --- */

.inicio {
    background-color: var(--secundary-color);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: grey 0.2rem 0.5rem 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 50%;
}

.principal {
    grid-area: main;
    background-color: var(--white);
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.principal__titulo {
    color: var(--secundaty-color-hover);
    font-weight: bolder;
    font-size: 3rem;
}

.principal__sin-contenido {
    width: 100%;
    text-align: center;
}

.sin-contenido__texto {
    font-weight: bolder;
    color: grey;
}

.quiz, .question {
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: grey 0.2rem 0.5rem 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.quiz__texto {
    display: flex;
    flex-direction: column;
}

.quiz__acciones, .question__acciones {
    display: flex;
    gap: 1rem;
}

.question__listado {
    list-style: upper-latin;
    padding-left: 2rem;
}

.principal-formulario {
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

}

.principal-formulario__formulario {
    background-color: var(--secundary-color);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: grey 0.2rem 0.5rem 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 50%;
}

label {
    font-weight: bold;
    font-size: 1.2rem;
}

input[type="text"], input[type="password"], textarea {
    background-color: var(--white);
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
}

.formulario__correct_option, .formulario__select {
    background-color: var(--white);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.lista-resultado {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pregunta__enunciado {
    font-weight: bolder;
}


/* --- FOOTER - PIE --- */

.pie {
    grid-area: footer;
    background-color: var(--secundaty-color-hover);
    text-align: center;
    padding: 1rem;
}


/* --- ESTILOS COMUNES --- */

.boton {
    background-color: var(--white);
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 75%;
    margin: 0 auto;
    cursor: pointer;
}

.boton__consultar {
    background-color: #9cb27e;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.boton__eliminar {
    background-color: #d06b6b;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
